<section class="text-muted p-5 pt-3 rounded-5 bg-white bg-opacity-75 mb-5">
	<div class="container-fluid">
        <div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-12 mb-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item fw-bold"><a [routerLink]="['/']">Inicio</a></li>
								<li class="breadcrumb-item fw-bold">
									<a [routerLink]="['/subjects', listSubjects()[0].course_id]">
										{{ getCourseName(listSubjects()[0].course_id) }}
									</a>
								</li>
								<li class="breadcrumb-item active fw-bold" aria-current="page">
									<a [routerLink]="['/issues', listSubjects()[0].course_id]">
										{{ getSubjectName(listSubjects()[0].course_id) }}
									</a>
								</li>
								<li class="breadcrumb-item active fw-bold" aria-current="page">
									{{ rsubjectTest()?.title }}
								</li>
							</ol>
						</nav>
					</div>
					<div class="col-lg-12 mb-3">
						<a [routerLink]="['/issues', listSubjects()[0].course_id]" class="btn btn-outline-success">
							<i class="bi bi-arrow-left"></i> Volver
						</a>
					</div>
					<div class="d-flex">
						<h2 class="pb-1">{{ rsubjectTest()?.title }}</h2>
						<div class="ms-auto">
							<button class="btn btn-warning fw-bold shadow">
								<i class="bi bi-check2-all fs-3"></i> Solucionado
							</button>
						</div>
					</div>
					<div class="col-lg-12 mb-2 mt-4">
						<h4 class="mb-1 fw-bold text-success">Preguntas:</h4>
						<hr class="border-success border border-3">
					</div>
					@for (question of rsubjectTest()?.questions; track question.id) {
						<div class="col-lg-12 border-bottom border-opacity-25 border-2 border-secondary mb-2 mt-2">
							<h4 class="fw-bold mb-3">{{ question.id }}. {{ question.question }}</h4>
							@for (selection of question?.selections; track selection.id) {
								<div class="form-check h4 mb-2 ms-5 border px-5 py-2 bg-success-subtle rounded-pill">
									<input class="form-check-input" type="radio" name="question-{{ selection.id }}" id="radioDefault1">
									<label class="form-check-label h5" for="radioDefault1">
										{{ selection.id }}). {{ selection.option }}
									</label>
								</div>								
							}
							<div class="col-lg-12 mt-4 pb-3 ms-5 d-flex">
								<h4 class="me-5">
									<span class="text-success">Respuestas:</span>
									ponderación o peso: <span class="fw-bold">{{ question.weighing }} {{ question.type }}.</span>
								</h4>
								<div>
									<button class="btn btn-sm btn-outline-success">
										<i class="bi bi-check2"></i> Validar
									</button>
								</div>
							</div>
						</div>
					} @empty {
						<p class="text-muted small">No existen opciones de selección.</p>
					}
				</div>
			</div>
		</div>
	</div>
	
</section>

