<header id="header" class="header sticky-top p-1 shadow mt-3 rounded-5 bg-white bg-opacity-50 mb-3">
    <div class="container-fluid position-relative d-flex align-items-center">
        <a [routerLink]="['/']" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt="logo">
            <h3 class="sitename mt-3">
				<span class="text-success">Test de Formación Profesional</span>
			</h3>
        </a>
        <nav id="navmenu" class="navmenu ms-auto">
            <ul>
                <li>
					<a [routerLink]="['/']" class="active">
						<i class="bi bi-journal-text me-1"></i> Tablero
					</a>
				</li>
                <li>
					<a [routerLink]="['/setting']">
						<i class="bi bi-sliders me-1"></i> Configuración
					</a>
				</li>
            </ul>
			<button class="mobile-nav-toggle d-xl-none border-0 bg-transparent d-flex" data-bs-toggle="offcanvas" 
					data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
				<i class="bi bi-list"></i>
			</button>
        </nav>
		<div class="d-none d-sm-inline-block ms-5">
			<a class="btn btn-success rounded-5 me-2" href="#">Entrar</a>
			<a class="btn btn-success rounded-5" href="#">Registrar</a>
		</div>
    </div>
</header>
<!-- Menu lateral -->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" 
		aria-labelledby="offcanvasWithBothOptionsLabel">
	<div class="offcanvas-header">
		<a [routerLink]="['/']" class="logo">
			<img class="img-fluid w-25" src="assets/img/logo.png" alt="logo">
		</a>
		<button type="button" class="btn-close me-2" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<h5 class="offcanvas-title">
			<span class="text-success fw-bold">Test de Formación Profesional</span>
		</h5>
		<ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mt-3">
			<span class="text-muted mb-3"><small>Menu</small></span>
			<li class="nav-item">
				<a [routerLink]="['/']" class="active nav-link" data-bs-dismiss="offcanvas">
					<i class="bi bi-journal-text me-1"></i> Tablero
				</a>
			</li>
			<li class="nav-item">
				<a [routerLink]="['/setting']" class="nav-link" data-bs-dismiss="offcanvas">
					<i class="bi bi-sliders me-1"></i> Configuración
				</a>
			</li>
			<span class="text-muted my-3"><small>Opciones</small></span>
			<li class="nav-item">
				<a [routerLink]="['/']" class="nav-link" data-bs-dismiss="offcanvas">
					<i class="bi bi-box-arrow-in-right me-1"></i> Entrar
				</a>
			</li>
			<li class="nav-item">
				<a [routerLink]="['/']" class="nav-link" data-bs-dismiss="offcanvas">
					<i class="bi bi-card-checklist me-1"></i> Registrar
				</a>
			</li>
        </ul>
	</div>
</div>