<div class="d-flex flex-column flex-shrink-0 p-3 sidebar text-muted main border-end border-3 border-white" [class.collapsed]="isCollapsed()">
	<ul class="nav nav-pills flex-column mb-auto">
		<li class="nav-item">
			<a routerLink="scourses" routerLinkActive="active" class="nav-link text-dark d-flex align-items-center">
				<i class="bi bi-journal-text me-2 fs-5"></i>
				<span class="link-text">Cursos</span>
			</a>
		</li>
		<li class="nav-item">
			<a routerLink="ssubjects" routerLinkActive="active" class="nav-link text-dark d-flex align-items-center">
				<i class="bi bi-journal-text me-2 fs-5"></i>
				<span class="link-text">Asignaturas</span>
			</a>
		</li>		
		<li>
			<a routerLink="sissues" routerLinkActive="active" class="nav-link text-dark d-flex align-items-center">
				<i class="bi bi-journal-richtext me-2 fs-5"></i>
				<span class="link-text">Temas</span>
			</a>
		</li>
		<li>
			<a routerLink="stest" routerLinkActive="active" class="nav-link text-dark d-flex align-items-center">
				<i class="bi bi-list-columns-reverse me-2 fs-5"></i>
				<span class="link-text">Tests</span>
			</a>
		</li>
	</ul>
</div>
